.admin-navbar-middle-printer {
  background-color: #70D3FA;
  color: white !important;
}


/* main */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


/* search filter add  */
.search-filter-add {
  display: flex;
  width: 1330px;
}

.search {
  background-color: rgba(112, 211, 250, 0.42);
  width: 760px;
  height: 53px;
  
  display: flex;
  align-items: center;

  padding-left: 30px;
  padding-right: 30px;
  border-radius: 15px;
  margin-right: 60px;
}

.search img {
  cursor: pointer;
}

.search-input {
  flex: 1;
  background-color: transparent;
  color: #5B5B5B;
  font-size: 30px;
  font-weight: light;
  margin-left: 20px;

  border: none;
  outline: none;
}

.filter {
  background-color: rgba(112, 211, 250, 0.42);
  width: 280px;
  height: 53px;
  border-radius: 15px;

  display: flex;
  align-items: center;
  padding-left: 25px;
}

.filter span {
  font-size: 30px;
  padding-left: 16px;
}

.add {
  background-color: #24BEFB;
  width: 220px;
  height: 53px;
  border: none;
  border-radius: 20px;

  display: flex;
  align-items: center;
  padding-left: 15px;
  margin-left: 15px;
  cursor: pointer;
}

.add span {
  color: white;
  font-size: 24px;
  margin-left: 10px;
}

/* end .search-filter-add */


/* 4 cai o thong tin tong quat */
.total-display {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  width: 1330px;
}

.total-display-box {
  background-color: #86EDFF;
  width: 316px;
  height: 126px;
  border-radius: 10px;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 25px;
}

.box-description {
  font-size: 28px;
  margin: 0;
}

.box-information {
  font-size: 40px;
  margin: 0;
}

/* end 4 cai o thong tin tong quat */

/* bang thong tin nhung may in */

.printers-display {
  width: 1330px;
  border: 1px solid #6B6B6B;
  border-radius: 10px;
  margin-top: 40px;
}

.printers-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* ten cot */

.column-names {
  display: grid;
  grid-template-columns: 196px 138px 194px 186px 187px 193px;
  width: 1145px;
  justify-content: space-between;
}

.column-name{
  background-color: rgba(112, 211, 250, 0.65);
  height: 37px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

/* end ten cot */

/* printers */

.printers-row {
  width: 1330px;
  margin-top: 35px;
  padding-right: 6px;
  margin-bottom: 25px;

  display: flex;
  justify-content: space-between;
}

.printer-checkbox-container {
  width: 92px;
  display: flex;
  justify-content: center;
}

.printer-checkbox {
  width: 31px;
  height: 31px;
  border-radius: 10px;
}

.printer-display {
  width: 1145px;
  height: 37px;
  border: 1px solid #6B6B6B;
  border-radius: 10px;

  display: grid;
  grid-template-columns: 196px 138px 194px 186px 187px 193px;
  align-items: center;
  justify-content: space-between;

  font-size: 20px;
}

.printer-infor {
  margin-right: 15px;
  cursor: pointer;
}

.printer-delete {
  cursor: pointer;
}

.printer-model, .printer-id, .printer-location, .printer-weight, .printer-status, .printer-actions {
  display: flex;
  justify-content: center;
}

.toggle-button-container {
  width: 86px;
  display: flex;
}

.toggle-label {
  width: 86px;
  height: 37px;
  margin-left: 6px;
  position: relative;

  background-color: #1EDF04;
  border-radius: 20px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.toggle-checkbox {
  display: none;
}

.toggle-circle {
  width: 31px;
  height: 31px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #DF1604;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked + .toggle-label .toggle-circle {
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2);
  transform: translateX(40px); /* Slide to the right */
}
/* end printers */

.printers-pages {
  width: 1330px;
  height: 48px;
  background-color: #CBEEFC;
  margin-top: 18px;
  border-radius: 10px;
  padding-right: 15px;;

  display: flex;
  align-items: center;
  justify-content: end;
}

.prev-page, .next-page {
  width: 30px;
  height: 26px;
  background-color: white;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  font-size: 20px;
}

.current-page {
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
}

/* end bang thong tin cac may in */

/* them may in */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.add-printer-container {
  background-color: white;
  width: 1330px;
  height: 725px;
  border-radius: 10px;
  padding: 30px 30px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;

  font-size: 30px;
}

.add-form-left, .add-form-middle {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 450px;
}

.add-form-left h2 {
  font-size: 36px;
  margin: 0;
}

.upload-image-container {
  width: 100%;
  height: 230px;
  background-color: #B67EFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-image {
  content: "Tải ảnh máy in";
  background-color: white;
}

.input-row {
  width: 100%;
  height: 50px;

  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
}

.left-label, .middle-label {
  display: inline-block;
  white-space: nowrap;
  
  font-size: 30px;
  color: #3039D5;
  font-weight: bold;
}

.middle-label {
  font-size: 28px;
}

.left-input, .middle-input {
  font-size: 28px;
  border: none;
  flex: 1;
  width: 100%;
  outline: none;
}

.add-status {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #3039D5;
}

.add-toggle-label {
  width: 86px;
  height: 37px;
  margin-left: 6px;
  position: relative;

  background-color: #1EDF04;
  border-radius: 20px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-toggle-checkbox {
  display: none;
}

.add-toggle-circle {
  width: 31px;
  height: 31px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease;
}

.add-toggle-checkbox:checked + .add-toggle-label {
  background-color: #DF1604;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
}

.add-toggle-checkbox:checked + .add-toggle-label .add-toggle-circle {
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2);
  transform: translateX(40px); /* Slide to the right */
}

.add-form-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.reset-button, .submit-button {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  border-radius: 20px;
}

.reset-button {
  background-color: #FB9324;
}

.submit-button {
  background-color: #00B51E;
}

/* overlay 2 */
.overlay-2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.confirm-container {
  background-color: white;
  width: 710px;
  height: 260px;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirm-container h1 {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 36px;
}

.confirm-container p {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 24px;
}

.confirm-container p span {
  color: #06DD15;
}

.cancel-confirm {
  display: flex;
  gap: 30px;
}

.cancel, .confirm-button {
  width: 150px;
  height: 50px;
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 26px;
}

.cancel {
  background-color: rgba(0, 0, 0, 0.5);
}

.confirm-button {
  background-color: red;
}

/* end overlay 2 */

/* end them may in */

.hidden {
  display: none;
}